.projects-container[b-wrjuo0p4xh] {
    padding: 50px;
    color: #e6f1ff;
    min-height: 100vh;
}


.projects-container h1[b-wrjuo0p4xh] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 55px;
    color: #66ccff;
    margin-bottom: 40px;
    text-shadow: 0 0 10px rgba(102, 204, 255, 0.6);
}


.projects-grid[b-wrjuo0p4xh] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.project-card[b-wrjuo0p4xh] {
   
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    overflow: hidden;
    backdrop-filter: blur(10px);
    transition: 0.4s ease;
    box-shadow: 0 0 20px rgba(102, 204, 255, 0.2);
}

.project-card:hover[b-wrjuo0p4xh] {
    transform: translateY(-10px) scale(1.02);
    box-shadow: 0 0 30px rgba(102, 204, 255, 0.5);
}

.link[b-wrjuo0p4xh]{
    text-decoration: none;
    
}

.project-content[b-wrjuo0p4xh] {
    padding: 20px;
}

.project-content h2[b-wrjuo0p4xh] {
    margin-bottom: 10px;
    color: #66ccff;
}

.project-content p[b-wrjuo0p4xh] {
    font-size: 14px;
    margin-bottom: 20px;
    color: #cbd5e1;
}


.project-buttons[b-wrjuo0p4xh] {
    text-decoration: none;
    display: flex;
}


.btn[b-wrjuo0p4xh] {
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    width: 100%;
}

.visit-btn[b-wrjuo0p4xh] {
    background: #66ccff;
    color: #000;
    font-weight: bold;
}


.visit-btn:hover[b-wrjuo0p4xh] {
    background: #33bbff;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(102, 204, 255, 0.7);
}