@page "/about"
<div class="about-container">


<h1>About Me</h1>

<p class="about-description">
    Hello! I'm Christian D. Potot, a student of CTU Daanbantayn Campus taking up Bachelor of Science in Information
    Technology. I have a passion for web development and design, and 
    I'm always eager to learn new technologies and improve my skills. 
    I am constantly learning and improving my skills, particularly in tools and 
    frameworks like Blazor, HTML, and CSS. 
    I believe that every project is an opportunity to learn something new and improve myself further.
    My goal is to become a skilled developer and 
    contribute to meaningful and innovative digital solutions in the future.
</p>

<div class="about-content">

    <div class="about-left">

        <div class="info-grid">
            <div><span class ="main"><strong>Mastery:</strong></span><span class="content"> Fundamentals</span></div>
            <div><span class ="main"><strong>Availability:</strong></span><span class="content"> 24/7</span></div>
            <div><span class ="main"><strong>Country:</strong></span><span class="content"> Philippines</span></div>
            <div><span class ="main"><strong>Age:</strong></span><span class="content"> 21</span></div>
            <div><span class ="main"><strong>Phone:</strong></span><span class="content"> 0956-877-4777</span></div>
            <div><span class ="main"><strong>Degree:</strong></span><span class="content"> BS Information Technology</span></div>
        </div>
    
       <div class="buttons">
             <a href="https://www.facebook.com/potot.christian.5" target="_blank" class="btn-social">
                 <i class="fa-brands fa-facebook"></i>
             </a>
             <a href="https://www.instagram.com/__.chanxxi/" target="_blank" class="btn-social">
                 <i class="fa-brands fa-instagram"></i>
             </a>
             <a href="https://github.com/Ch4nXXI" target="_blank" class="btn-social">
                <i class="fa-brands fa-github"></i>
             </a>
             <a href="https://www.linkedin.com/in/christian-potot-1a2b593ba/" target="_blank" class="btn-social">
                <i class="fa-brands fa-linkedin"></i>
             </a>
        </div> 
    </div>

    
    <div class="skills-section">

        <div class="skill animate-bars">
            <span>HTML</span>
            <div class="progress">
                <div class="progress-bar html" data-percent="75%"></div>
            </div>
        </div>

        <div class="skill animate-bars">
            <span>CSS</span>
            <div class="progress">
                <div class="progress-bar css" data-percent="55%"></div>
            </div>
        </div>

        <div class="skill animate-bars">
            <span>JavaScript</span>
            <div class="progress">
                <div class="progress-bar js" data-percent="40%"></div>
            </div>
        </div>

        <div class="skill animate-bars">
            <span>C</span>
            <div class="progress">
                <div class="progress-bar c" data-percent="70%"></div>
            </div>
        </div>

        <div class="skill animate-bars">
            <span>Java</span>
            <div class="progress">
                <div class="progress-bar java" data-percent="60%"></div>
            </div>
        </div>

    </div>

</div>


</div>
