@page "/"
    
  
    
    <div class="hero-container">
        <div class="hero-content">

           
            <div class="profile-section">
                <div class="profile-circle">
                    <img src="images/profile.jpg" alt="Profile" />
                 
                </div>
            </div>

            
            <div class="text-section">
                <h5 class="role">Aspiring Software Developer</h5>
                <h1>
                    Hi, I'm <br />
                    <a href = "https://www.facebook.com/potot.christian.5" target ="_blank" class = "name">
                    <span class="highlight">Christian D. Potot</span>
                    </a>
                </h1>
                <p>
                   Aspiring app developer focused on creating clean and user-friendly interfaces.
                   I build modern applications with a strong emphasis on frontend design and user experience.
                </p>

                <div class="buttons">
                    <a href="/projects" target="_self">
                        <button class="primary-btn">View My Work →</button>
                    </a>
                    <a href="mailto:potot.christian.5@gmail.com" target="_blank">
                        <button class="secondary-btn">Email Me</button>
                    </a>
                </div>

                
            </div>

        </div>
    </div>

