@page "/projects"

<div class="projects-container">
    <h1>My Projects</h1>

    <div class="projects-grid">

        
        <div class="project-card">
            <div class="project-content">
                <h2>Portfolio .NET Website</h2>
                <p>A personal portfolio built using Blazor with animations and responsive design.</p>

                <div class="project-buttons">
                    <a href="https://github.com/Ch4nXXI/Portfolio" target="_blank" class="link">
                        <button class="btn visit-btn">Visit →</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-content">
                <h2>Lost and Found System</h2>
                <p>The Lost and Found System is a group-developed project </p>

                <div class="project-buttons">
                    <a href="https://github.com/alexanderresula-arch/PC223_CAP" target="_blank" class="link"> 
                        <button class="btn visit-btn">Visit →</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="project-card">
            <div class="project-content">
                <h2>Restaurant Food Choices</h2>
                <p>The Restaurant Food Choices project is a simple group project </p>

                <div class="project-buttons">
                    <a href="https://github.com/Ch4nXXI/FoodProject" target="_blank" class="link"> 
                        <button class="btn visit-btn">Visit →</button>
                    </a>
                </div>
            </div>
        </div>

        
        <div class="project-card">
            <div class="project-content">
                <h2>Lodging System</h2>
                <p>A simple lodging system that manages the rooms availability and customer occupation </p>

                <div class="project-buttons">
                    <a href="https://github.com/Ch4nXXI/LodgingSystem" target="_blank" class="link"> 
                        <button class="btn visit-btn">Visit →</button>
                    </a>
                </div>
            </div>
        </div>



        

    </div>
</div>